<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:th="http://www.thymeleaf.org"
  		layout:decorate="~{fragments/layout}">
  		
  		<head>
  			<title>Index Page</title>
  		</head>
		
  		
    
  <div layout:fragment="content">
  
<!--   	<div style="padding: 50px;" id="content" name="content"> -->
	  		
<!-- 	<h3> POURQUOI CHOISIR CARIS ?</h3> -->

<!--     <h2><p>Le leader mondial de l’assurance.</p></h2> -->
<!--     <h2><p>Un groupe d’experts à l’écoute de vos besoins.</p></h2> -->
<!--     <h2><p>Un réseau de 229 Agents généraux.</p></h2> -->
<!--     <h2><p>Des solutions attrayantes couvrant l’ensemble des risques auxquels vous êtes exposés.</p></h2> -->

<!--   	</div> -->
  
  </div>


  
</html>

